.navbar{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    padding: 1rem;
    background-color: #1d1d1ddd;
    z-index: 5;
    
}

.nav-links{
    position: absolute;
    top: -400%;
    left: 0%;
    padding: .5rem;
    font-size: 1.4rem;
    background-color: #1d1d1ddd;
    width: 100vw;
    a{
        color: #ddd;
        display: block;
        padding: .8rem;
    }
    
    @media screen and(min-width: 768px){
        position: static;
        flex-direction: row;
        display: flex;
        justify-content: space-between;
        z-index: 0;
        flex: 0 1 300px;
        background-color: transparent;
        a{
            padding: .1rem;
        }
        
    }
    z-index: -1;
    transition: top 500ms ease-in-out 0s;
}

.nav-menu{
    // padding: .2rem;
    span{
        height: 10px;
        font-size: 2rem;
        display: block;
        background-color: #ddd;
        padding: .1rem;
        margin: .1rem;
        width: 40px;
        border-radius: 3px;
        transition: all 200ms ease-in 100ms;
    }
    &:hover{
        span{
            background-color: #ada;

        }
    }
    @media screen and(min-width: 768px){
        display: none;
    }
}

.toggle-nav{
    top: 100%;

}

.animate-menu{
    span:first-child{
        transform: translateY(12px) rotate(45deg) 
    }
    span:nth-child(2){
        transform: scale(0);
    }
    span:last-child{
        transform: translateY(-11px) rotate(-45deg);
    }
}
