.about-title,
.about-description{
    color: #1d1d1d;
}

.about-description-container{
    flex: 1 0 500px;

    a{
        color: #0055dd;
    }

    a:hover{
        color: lightgreen;
    }
}

.about-description{
    font-size: 1.2rem;
    padding: .4rem 0;
}

.about-title{
    font-size: 2.8rem;
}

.desk-image-container{
    max-width: 380px;
    @media screen and (min-width: 1000px){
        max-width: none;
        width: 1000px;
    }
}

.setup-image{

    width: 100%;

}